server {
	listen ${NGINX_PORT};
	listen [::]:${NGINX_PORT};
	server_name ${NGINX_SERVER_NAMES};
	location / {
		return 200 '${NGINX_CONTENT}';
		add_header Content-Type text/plain;
	}
	location /videos/ {
		autoindex on;
		root /usr/share/nginx/;
		mp4;
		mp4_buffer_size 1m;
		mp4_max_buffer_size 5m;
	}
}
